<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>COMMENTS</h1>
    <%for (comment of comments) {%>
        <li><%= comment.content %></li>
        <form action="/update/<%= comment.id %>" method="post">
            <input type="text">
            <input type="button" value="update">
        </form>
        <form action="/delete/<%=comment.id%>" method="post">
            <input type="submit" value="delete">
        </form>
    <%}%>
    <br/>
    <hr/>
    <br/>
    <form action="/create" method="post">
        <input style="font-size: 30px" type="text" name="content" autofocus>
        <input style="font-size: 30px" type="submit" value="update">
    </form>
</body>
</html>